#emoji{
    font-size: 40px;
}

header{
    margin-top: 40px;
}

h2{
    margin-top: 20px;
    margin-bottom: 40px;
}

h3{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #212529;
    color: white;
    border-radius: 5px;
}

/* ----------------------Nav bar ------------------------------ */
.navHeader{
    text-align: center;
    font-size: 30px;
    color: var(--print_on_web_bg_color, #1a1a1a);
    margin-top: 10px;
}

.myNavBar{
    color: #5DD3C7;
    background-color: #5DD3C7;
}

.navbar-brand{
    margin-left: 8px;
    text-align: center;
}

.imgMe{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}
/*---------------------------- About me----------------------- */

.metxt{
    font-size: 30px;
}

.aboutMeTxt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aboutMe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
}
/* ----------------------Projects------------------------- */
.projectsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectTxt{
    padding: 10px;
    color: #212529;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pfImg{
    height: 375px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.brounieLogo{
    margin-bottom: 20px;
}

/* ----------------------Experience------------ */
.companyContainer{
    display: flex;
    flex-direction: column;
}


.txtCompany{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.companyTxtTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #212529;
    padding: 5px;
    padding-left: 10px;
    color: white;
    border-radius: 5px;
}

.companyTxtContent{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.companyTxtTime{
    font-family: 'Courier New', Courier, monospace;
}

/* ---------------------Education ---------------------- */

.educationCard{
    max-width: 540px;
}

.educationImg{
    padding: 30px;
    height: 200px;
}


.mediaImg{
    height: 80px;
}

.eduContent{
    display: flex;
    flex-direction: column;
}

.educationContainer{
    display: flex;
    justify-content: space-around;
}

/* -------------------- Social Media ------------------------ */
.socialContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socialText{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: end;
}

.socialMedia{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}